<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" />
    <title>Editar Usuario</title>
</head>
<body>

	<div class="container text-bg-dark p-2 text-center">
    	<h1>Editar Usuario</h1>
    </div>
    
    <section class="container mb-5 pt-4">
	    <form th:action="@{/usuario/lista/{id}(id=${usuario.idUsuario})}" method="post">
    		<div class="row">
    			<div class="col-4">
					<div th:object="${usuario}">
						<div class="form-floating mb-3">
  							<input type="number" class="form-control" id="floatingInput" placeholder="ej. 12345678" name="cedula" th:field="*{cedulaUsuario}">
  							<label for="floatingInput">Cédula</label>
						</div>
						<div class="form-floating mb-3">
  							<input type="text" class="form-control" id="floatingInput" placeholder="nombre" name="nombre" th:field="*{nombreUsuario}">
  							<label for="floatingInput">Nombre</label>
						</div>
						<div class="form-floating mb-3">
  							<input type="text" class="form-control" id="floatingInput" placeholder="apellido" name="apellido" th:field="*{apellidoUsuario}">
  							<label for="floatingInput">Apellido</label>
						</div>
			            <div class="form-floating mb-3">
  							<input type="number" class="form-control" id="floatingInput" placeholder="edad" name="edad" th:field="*{edadUsuario}">
  							<label for="floatingInput">Edad</label>
						</div>
						<div class="form-floating mb-3">
  							<input type="email" class="form-control" id="floatingInput" placeholder="correo" name="correo" th:field="*{correoUsuario}">
  							<label for="floatingInput">Edad</label>
						</div>
						<div class="form-floating mb-3">
  							<input type="password" class="form-control" id="floatingInput" placeholder="contrasena" name="´passwordUser" th:field="*{contrasenaUsuario}">
  							<label for="floatingInput">Contraseña</label>
						</div>
					</div>
				</div>	
			</div>	
			<div>
				<input class="btn btn-primary" type="submit" value="Actualizar">
			</div>	
	    </form>
	</section>    
    <script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>
</body>
</html>