<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Consulta de USuario</title>
</head>
<body>

	<div class="container text-center mb-5 pt-4">
		<h1 class="fw-bold fs-1">Lista de Usuarios</h1>	
		<a class="btn btn-outline-primary" href="#">Home</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
			</div>
		<div class="col-10">	
		
		<table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
            	<th>Id</th>
                <th>Cedula</th>
                <th>Nombre</th>               
                <th>Apellido</th>
                <th>Edad</th>
                <th>Correo</th>
                <th>Operaciones</th>
            </tr>            
        </thead>
        <tbody>

            <tr th:each="usuario : ${usuarios}">
            	<td th:text="${usuario.idUsuario}"></td>
            	<td th:text="${usuario.cedulaUsuario}"></td>
                <td th:text="${usuario.nombreUsuario}"></td>
                <td th:text="${usuario.apellidoUsuario}"></td>
                <td th:text="${usuario.edadUsuario}"></td>
                <td th:text="${usuario.correoUsuario}"></td>
                <td>
                	<a class="btn btn-success" th:href="@{/usuario/editar/{id}(id=${usuario.idUsuario})}">Actualizar</a>
                	<a th:href="@{/usuario/eliminar/{id}(id=${usuario.idUsuario})}">
                		<button class="btn btn-danger" onclick="confirm('¿Desea eliminar este usuario?')">Eliminar</button>
                	</a>
                </td>
            </tr>
        </tbody>

    </table>
			</div>
			<div class="col">
			</div>		
		</div>
		<div class="row">
			<div class="col-8">
			</div>
			<div class="col">
				<a class="btn btn-primary mt-3" href="/usuario/crear">Crear un Cliente nuevo</a>
			</div>
		</div>
		
	</div>

    
    
    <br>
    <br>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>